.index_main{

     width:80%;
	padding:20px 0; 
	margin: auto;
	display:-webkit-flex; 
	-webkit-flex-direction:row;
	flex-direction:row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.index_article
{
margin:20px;
width:40%;
flex-grow:2;
}

.index_img
{
margin:20px;
width:40%;

}


 .index_article h2:first-of-type{
        color: #514040;
        font-size: 20pt;
        font-family:Rockwell Extra Bold, Rockwell Bold, monospace;
      }
      
.index_article h3:first-of-type {
        color: brown;
           letter-spacing:0.01em;
        font-family:Brush Script MT, cursive;
         font-size: 20pt;
      }

 .index_article p:first-of-type::first-letter{
        color: brown;
        font-size: 2em;
    
      }
      
      @media only screen and (max-width: 600px)
 {
 
img{

width:200px;
}
}
     
      
    